@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background:  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
    ), url("./assets/home-bg.jpg");
}

form .halo {
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(245, 236, 236, 0.368);
  color: #333;
}

.glass-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: rgb(217 70 239);
}

.glass-container h1 {
  color: rgb(225 29 72);
}